<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307243127442-a3ttsgve2o0j6sfjcb4i6oscuhejg01n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307243127442-a3ttsgve2o0j6sfjcb4i6oscuhejg01n</string>
	<key>API_KEY</key>
	<string>AIzaSyAkyYO82vwVtGWZv3FtYlcKyFKSSSGKnhU</string>
	<key>GCM_SENDER_ID</key>
	<string>307243127442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drodcasi.iOS.Formula-1</string>
	<key>PROJECT_ID</key>
	<string>formulaone-40714</string>
	<key>STORAGE_BUCKET</key>
	<string>formulaone-40714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307243127442:ios:72ecb854995b33d0648c4b</string>
</dict>
</plist>